.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 10em;
    color: white;
    align-items: flex-end;
    background-image:   linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, .9)), 
                        linear-gradient(to right, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, .9)), 
                        url("../public/home_bg.png");
    /*background-position-y: -7em;*/
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.mainTitle{
    margin: 0;
    margin-bottom: 1em;
}
.mainLogo{
    margin-top: 3em;
    filter: invert(98%) sepia(1%) saturate(4%) hue-rotate(135deg) brightness(114%) contrast(100%);
}

.arrowContainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-top: 25em;
}

/*
@media screen and (){}*/