.shopLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 7.5em;
    background-color: var(--main-bg);
    align-items: center;
    padding-bottom: 2em;
    color: white;
}

.dashboardContainer{
    min-height: 13%;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.shopContainer{
    display: grid;
    height: 100%;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 4em;
    padding-bottom: 4em;
}
.shopContainer a{
    text-decoration: none;
}

.generalCard{
    position: relative;
    width: 75%;
}

.productCard{
    width: 100%;
    height: 25em;
    border-radius: 1em;
    box-sizing: border-box;
    color: white;
    background-color: var(--dark-content-bg);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.productCard img{
    width: 100%;
    height: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.textContainer{
    width: 90%;
    padding: 1em;
    margin-bottom: 1.5em;
}
.price{
    margin-top: 1em;
    color: var(--text-bg);
}

.generalCard:hover .productCard img{
    height: 25em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: all 0.15s ease-in-out;
}
.generalCard:hover .textContainer{
    display: none;
}
.generalCard:hover .carrouselContainer{
    bottom: 1em;
    transition: all 0.15s ease-in-out;
}

.favoriteButton{
    position: absolute;
    z-index: 100;
    top: 1em;
    right: 1em;
}

.carrouselContainer{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-evenly;
    z-index: 100;
    bottom: 7.5em;
    /*background-color: rgba(0, 0, 0, 0.25);*/
    padding: .2em;
}
.onHoverCarrousel{
    bottom: 0;
}

.itemContainer{
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 1em;
    object-fit: cover;
}
.itemContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    filter: opacity(75%);
}
.itemContainer:hover{
    cursor: pointer;
}

.searchInputContainercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchInput{
    text-decoration: none;
    border: 2px solid var(--text-bg);
    color: var(--text-bg);
    background-color: var(--content-bg);
    height: 2.3em;
    width: 20em;
    padding: .3em;
    padding-left: .8em;
    padding-right: 2em;
    border-radius: .8em;
    box-sizing: border-box;
}
.searchInput:focus{
    outline: none;
    box-sizing: border-box;
    color: white;
    border: 2px solid white;
}

.cancelBtn{
    position: absolute;
    color: var(--text-bg);
    right: .3em;
    width: .8em;
}
.cancelBtn:active{
    color: white;
}


/* LOADING */
.loadingProductCard{
    background-color: #1a1a1a;
    width: 22em;
    height: 28em;
    border-radius: 1em;
    box-sizing: border-box;
}

@media (max-width:1366px){
    .shopContainer{
        width: 80%;
        grid-template-columns: repeat(2,1fr);
        row-gap: 4em;
    }
}

@media (max-width:800px){
    .shopContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}