.shopLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 7.5em;
    background-color: var(--main-bg);
    align-items: center;
}

.dashboardContainer{
    min-height: 13%;
    width: 100%;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
}

.shopContainer{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 2em 5em;
}
.shopContainer a{
    text-decoration: none;
}

.productCard{
    background-color: #1a1a1a;
    width: 22em;
    height: 28em;
    border-radius: 1em;
    box-sizing: border-box;
    color: var(--text-bg);
}
.productCard a{
    color: var(--text-bg);
}

.cardImage{
    width: 100%;
    height: 18em;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    position: relative;
}
.textContainer{
    height: 10em;
    padding: 1.5em;
}
.price{
    margin-top: 1em;
}

.productCard:hover{
    transform: scale(0.98);
    transition: all 0.05s ease-out;
}
.productCard:active{
    filter: saturate(0%);
    transform: scale(0.96);
}

.generalCard{
    position: relative;
    height: 18em;
}

.carrouselContainer{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-evenly;
    z-index: 100;
    bottom: 0;
    /*background-color: rgba(0, 0, 0, 0.25);*/
    padding: .2em;
}

.itemContainer{
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 1em;
    object-fit: cover;
}
.itemContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    filter: opacity(75%);
}
.itemContainer:hover{
    cursor: pointer;
}

/* LOADING */
.loadingProductCard{
    background-color: #1a1a1a;
    width: 22em;
    height: 28em;
    border-radius: 1em;
    box-sizing: border-box;
}