.container{
    padding-top: 7.5em;
    color: white;
    display: flex;
    justify-content: center;
}

.orderContainer{
    position: relative;
    display: flex;
    align-items: flex-start;
    border-radius: 1em;
    padding: 2em;
    width: 40%; 
    height: fit-content;
    box-sizing: border-box;   
}

.ordersContainer{
    width: 100%;
    max-height: 43em;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 1em;
}

.orderInfoContainer{
    margin-top: .5em;
    background-color: var(--content-bg);
    border-radius: 1em;
    box-sizing: border-box;
    padding: .5em;
    color: var(--text-bg);
}

.orderCartCell{
    width: fit-content;
    height: fit-content;
    grid-row: span 2;
}

.order{
    margin-top: 1em;
    width: 30em;
    min-height: 5em;
    border-radius: 1em;
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

.order a{
    text-decoration: underline;
    color: white;
}
.order a:hover{
    color: var(--text-bg);
}

.orderDate{
    color: var(--text-bg);
}

.paginateInput{
    display: flex;
    background-color: white;
    justify-content: center;
}

.alert{
    margin: 0;
    text-align: center;
    color: var(--alert);
}

.paymentButton{
    border: none;
    border-radius: 1em;
    height: fit-content;
    width: fit-content;
    font-size: .8em;
    padding: .7em;
    background-color: white; 
    margin-top: 1em;
    color: black;
}
.paymentButton a{
    text-decoration: none;
    cursor: default;
}
.paymentButton:active{
    transform: scale(0.98);
}

.orderStateContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stateCircle{
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: 2px solid var(--text-bg);
}
.stateLine{
    width: 3px;
    height: 1em;
    background-color: var(--text-bg);
}
.completeStateCircle{
    background-color: var(--alert);
    border: 2px solid var(--alert);
}
.completeStateLine{
    background-color: var(--alert);
}


@media (max-width:1366px){
    .order{
        width: 25em;
        min-height: 5em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .orderContainer{
        width: 65%; 
    }
    .ordersContainer{
        width: fit-content;
    }
}

@media (max-width:800px){
    .orderContainer{
        display: flex;
        flex-direction: column;
        width: 100%; 
        align-items: center;
    }
}